<html>
	<head>
		<title>Test</title>
	<head>
	<body>
		<input type="text" name= "a" value="123"/>
		<input type="submit" name = "cmd" value="OK"/>
          	<h1> AAAAAAAAAAAAAAAAAAAAAAAAAAA</h1>
	</body>
</html>

